<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- FAVICON --}}
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
  {{!-- jQUERY --}}
  <script script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{!-- FONT AWESOME 5 --}}
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
  {{!-- BULMA  --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  {{!-- CSS STYLESHEET --}}
  <link rel="stylesheet" href="./assets/css/style.css">
  <title>foodgawker : scraper</title>
</head>
<body>
    {{{body}}}
    <script src="./assets/js/app.js"></script>
</body>
</html>