<div class="hero yellow is-flex" id="jumbotron">
  <div class="hero-body content has-text-centered">
    <h1 class="mb-6 pb-6 is-size-1">food<span>gawker</span><span id="scraper"> : scraped</span></h1>
    <a
      class="py-2 px-4"
      href="/scrape"
      role="button"
      id="scrape"
    >Scrape Recipes</a>
    <a
      class="py-2 px-4"
      href="/saved"
      role="button"
      id="saved"
    >View Saved Recipes</a>
    <a
      class="delBtn py-2 px-4"
      href="/deleteAll"
      role="button"
      id="delete"
    >Delete Recipes</a>
  </div>

</div>

<div class="tile is-ancestor" id="recipes"></div>