<div class="jumbotron">
  <h1 class="display-4">All Recipes Scraper</h1>
  {{!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> --}}
  <hr class="my-4">
  <p>Click the button to get some Recipes!</p>
 <a class="btn btn-primary btn-lg" href="/scrape" role="button" id="scrape">Scrape Recipes</a>
 <a class="btn btn-primary btn-lg" href="/saved" role="button" id="saved">Saved Recipes</a>
  <a class="btn btn-danger btn-lg" href="/deleteall" role="button" id="delete">Delete Recipes</a>
</div>

<div class="container-fluid bg1">
  <div class="container tex-center">
    <div class="row recipes"></div>
  </div>
</div>