
<div class="hero yellow is-flex" id="jumbotron">
  <div class="hero-body content has-text-centered">
    {{!-- <img class="logo is-inline-block" src="/assets/images/Allrecipeslogo.png" /> --}}
    <h1 class="mb-6 pb-6 is-size-1">food<span>gawker</span><span id="scraper"> : saved</span></h1>
    <a
      class="py-2 px-4"
      href="/"
      role="button"
      id="home"
    >Go Back To Scraped Recipes</a>

  </div>

</div>

<div class="tile is-ancestor" id="savedRecipes"></div>

{{!-- MODAL  --}}
<div class="modal" id="result-modal">
  <div class="modal-background"></div>
  <div class="modal-content has-background-white py-5 px-5" id="notes">

  </div>
  
</div>

