body{
    background-color: whitesmoke;
}

.jumboTitle,
.jumboTitle1
{
    color:#ff6600;
    font-family:"Poppins", "cursive"
}


.delBtn{
    background-color:#ff6600;
}

.jumbotron{
    background-color:whitesmoke;
}

